

<form method="POST" action="/admin/categorias/nova">
  <fieldset>
    <legend>Adicionar categoria</legend>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome: </label>
      <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome da categoria">
    </div>
    <div class="mb-3">
      <label for="slug" class="form-label">Slug: </label>
      <input type="text" name="slug" id="slug" class="form-control" placeholder="Slug da categoria">
    </div>

    <button type="submit" class="btn btn-primary">Criar categoria</button>
  </fieldset>
</form>